# Tabular models

In [1]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

Downloading http://files.fast.ai/data/examples/adult_sample

In [3]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [4]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [5]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [6]:
data.show_batch(rows=15)

In [7]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [8]:
learn.fit(1, 1e-2)

## Inference

In [11]:
row = df.iloc[0]
row

age                                49
workclass                     Private
fnlwgt                         101320
education                  Assoc-acdm
education-num                      12
marital-status     Married-civ-spouse
occupation                        NaN
relationship                     Wife
race                            White
sex                            Female
capital-gain                        0
capital-loss                     1902
hours-per-week                     40
native-country          United-States
salary                          >=50k
Name: 0, dtype: object

In [23]:
prediction = learn.predict(row)
prediction, row.salary

((Category <50k, tensor(0), tensor([0.5840, 0.4160])), '>=50k')

In [29]:
for i in range(0, 100):
    row = df.iloc[i]
    prediction = learn.predict(row)
    print(prediction[0], row.salary, str(prediction[0]) == str(row.salary))

<50k >=50k False
>=50k >=50k True
<50k <50k True
>=50k >=50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
>=50k <50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
>=50k >=50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
>=50k >=50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k >=50k False
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
>=50k <50k False
>=50k >=50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k >=50k False
<50k <50k True
<50k <50k True
<50k <50k True
<50k <50k True